html {
    min-height: 100%;   /*Высота сайта*/
    font-family: Garamond, serif; /*Шрифт сайта*/
    display: flex; /* Все у нас во flexbox'e */
    flex-direction: column; /*Пункты друг под другом*/
}
body {
    margin: 0; /*Отступы везде 0*/
    padding: 0 1em; /*Слева и справа отступ 15 зпикселей*/
    display: flex; /* Все у нас во flexbox'e */
    flex-direction: column; /*Пункты друг под другом*/
    flex: auto; /**/
}
.header {
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    margin: 0 auto 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.main {
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    margin: auto;
    flex-grow: 1;
    box-sizing: border-box;
}
.footer {
    background: darkorange;
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    color: black;
    margin: auto;
    /*padding: 15px;*/
    box-sizing: border-box;
}

.logo {
    min-width: 15px;
}

.nav {
    margin: -5px 0 0 -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}

.nav-itm {
    background: darkorange;
    width: 9em;
    height: 2em;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    margin: 3px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.flex_son {
    /*background-color: green;*/

}

.flex_son:first-child{
    /*background-color: red;*/
}

.flex_son:last-child {
    /*background-color: blue;*/
}

a.slogan, a.name {
    text-decoration: none;
    color: black;
    align-items: center;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    border-left: 2px red;

}