img.logo { /**/ /*Стиль логотипа*/
    width: 15%; /*Размер рисунка*/
    min-width: 150px;
    float: left;
}

.AboutCompany { /*Название магазина*/
    padding-top: 4%; /*Отступ сверху*/
    padding-left: 3%;
    float: left;
}

a.name { /*Главное название AboutCompany Игронафтика*/
    font-size: 2.5em; /*Размер текста*/
    text-decoration: none; /*Отсутствие подчеркивания ссылки*/
    color: black;
}

a.slogan { /*Описание магазина AboutCompany Интернет-магазин настольных игр*/
    text-decoration: none; /*ОТсутствие подчеркивания ссылки*/
    color: black;
}

.contacts { /*Контактные данные*/
    padding-left: 55%; /*Отступ слева*/
    padding-top: 5.5%; /*Отступ сверху*/
}

.top_header { /*Заголовок*/
    font-family: Garamond, serif; /*Шрифт текста в хэдере*/
    display: flex;
}

.header_basket {
    border-style: double; /* Стиль линии вокруг параграфа */
    display: inline-block;
    float: right;
    padding: 5px;
}

.igronaft {
    width:60%; /* ширина основной части сайта */
    height: 100%; /*высота основной части сайта*/
    margin: 0 auto; /* Отступы сверху и снизу 0, по бокам автоматические - получается по середине */

}